
<section class="content-header">
  <h1>About</h1>
</section>

<section class="content">
  <p class="lead">
    MyHero | Aplication developed using Angular 7    
  </p>
  <p class="lead">
    AppMyHero
  </p>
  <p class="lead">Copyright 2019 Edhi Rocha (<a href="https://www.linkedin.com/in/ednilson-rocha-103957b3">https://www.linkedin.com/in/ednilson-rocha</a>)</p>
  <p class="lead">
      The MyHero application aims to introduce some Marvel characters.
      It is integrated with the Api made available by Marvel.
      Further details (<a href="https://developer.marvel.com/docs">https://developer.marvel.com/docs</a>)</p>
  <p class="lead">A aplicação está disponível no github contendo uma documentação para instalação.
      Veja mais (<a href="https://github.com/EdhiRocha/APP-MARVEL-Heroes">https://github.com/EdhiRocha/APP-MARVEL-Heroes</a>)</p>

</section>
