<!-- Início do header -->
<header class="main-header ">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a  [routerLink]="['/']" class="navbar-brand" style="font-family: marvel-regular; font-size: 40px">MYHERO</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse" style="font-family: marvel-regular; font-size: 20px">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a [routerLink]="['/heroes']">Heroes</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->

    </div>
  </nav>
</header>
<!-- Fim do header -->
